
/* - ploneCustom.css - */
@media all {
/*  (do not remove this :) */
/*  (not this either :) */


/*div.row{
  display: block;
  float: left;
  position: relative;
  width: 100%;
}

div.grid-cell {
  float: left;
  left: 100%;
  position: relative;
}

/*dl.portlet {
    font-size: 90%;
}
*/



.template-no_title_view #portal-personaltools,
.template-no_title_view #portal-breadcrumbs {
   display: none;
}

#banner-wpd {
    height: 120px;
    margin-top: 0px;
}
#banner-symposium {
    height: 70px;
    margin-top: 16px;

}

#portlet-banner{
    width: 14.5em;
    margin-top:1em;
}

#portlet-scopri-wrapper, #portlet-home-wrapper {
    clear: both;
    float: none;
    margin: 0;
    padding: 0.2em 4.7em 0;
}

#portal-column-one .portletItem {
    padding-left: 0px;
}

#home-content-wrapper #portlet-banner{
    width: 14.5em;
    margin-top:1em;
}

#portlet-scopri-wrapper,
#portlet-home-wrapper {
    margin: 0;
    padding:0.2em 4.7em 0;
    float: none;
    clear: both;
}

#portlet-scopri-wrapper { padding:0.2em 0.7em 0;}

#portlet-scopri-wrapper .portletHeader,
#portlet-home-wrapper .portletHeader {
background-image:none;
color:#383D3F;
font-size:150%;
font-weight:bold;
margin:0.75em 0 0.25em;
padding:0 1em;
text-transform:capitalize;
}

#portlet-scopri-wrapper .portletHeader {
  text-transform: none;
}

#portlets-scopri-left,
#portlets-home-left {
  width: 34%;
}

#portlets-scopri-left {
  background-color: #EFF0F1;
  -moz-border-radius:0.5em;
  -webkit-border-radius: 0.5em;
  padding-left: 1em;
}


#portlets-scopri-right,
#portlets-home-right {
  width: 66%;
}


#portlets-scopri-right > div,
#portlet-scopri-wrapper > div,
#portlets-home-right > div,
#portlet-home-wrapper > div {
   float: left;
}


#portlets-scopri-right > div,
#portlets-home-right > div {
  width: 48%;
}



#portlets-scopri-right {
 width:590px;
 background-color:white;
}

#portlet-home-wrapper .portletRss {
   padding-left:1em;
}

/*div.position-0 {margin-left: -100%;}
div.position-3 {margin-left: -25%;}
div.width-1{width: 25%;}
div.width-3{width: 75%;}
*/

.opensource h2 {margin-top:0}


.section-home-page a:visited,
.section-home-page a {
    text-decoration: none;
    border:0
}

#banner-scopri-wrapper p a,
#banner-scopri-wrapper p a:visited,
#banner-scopri-wrapper p a:hover {
    color: white;
    font-style: italic;
    text-decoration: none;
    text-shadow: 1px 2px #424242;
}





/*** BANNER SCOPRI ***/

#discover-magazine {
 background:url("images/raccoglitori.gif") no-repeat scroll right bottom #9CB819;
}

#oxfam {
 background:url("images/mondo.gif") no-repeat scroll right bottom #9CB819;
}
#brazil {
 background:url("images/temple.gif") no-repeat scroll right bottom #9CB819;
}
#cia-fbi {
 background:url("images/new-lucchetto.gif") no-repeat scroll right bottom #9CB819;
}
#mit {
 background:url("images/new-cappello.gif") no-repeat scroll right bottom #9CB819;
}


#banner-scopri-wrapper {
  background-color: #9CB819;
  -moz-border-radius:0.5em;
  -webkit-border-radius: 0.5em;
  height: 194px;
  overflow: hidden;
  margin-bottom:2em;
  width:100%;
}

#banner-scopri-wrapper div {
  -moz-border-radius:0.5em;
  -webkit-border-radius: 0.5em;
  background-color: #9CB819;
  margin:0;
  padding: 2em;
  height: 150px;
}

#banner-scopri-wrapper p {
  font-size:220%;
  width:75%;
  padding:0 0 0 38px;
}

#banner-scopri-wrapper p.citazione {
   background:url("images/virgolette.gif") no-repeat scroll left top #9CB819;
}

#banner-scopri-wrapper p a,
#banner-scopri-wrapper p a:visited,
#banner-scopri-wrapper p a:hover {
color:white;
font-style:italic;
text-decoration:none;
text-shadow:1px 2px #424242;
}

#banner-scopri-wrapper .scopri {
 font-size: 60%
}

#banner-scopri-wrapper .scopri a {
 background:url("arrow.gif") no-repeat scroll left 3px transparent;
 padding-left: 19px;
}

.scopri {
  font-weight: bold;
  display: block;
  margin-top: 1em;

}

#portlet-scopri-wrapper .image-left {
  float: left;
  padding:0 5px 5px 0;
}

#portlet-scopri-wrapper p {
 font-size:115%;
}

/*** END BANNER SCOPRI ***/







.slidetabs {
clear:both;
display:block;
float:right;
margin:1em 2em 0 0;
}

.slidetabs a {
background:url("http://plone.it/new-navigator.gif") no-repeat scroll 0 -10px transparent;
display:block;
float:left;
font-size:1px;
height:10px;
margin:3px;
width:10px;
}

.slidetabs a.current {
background-position:0 0px;

}



}

